html,body, .fullHeight, button {
    height:100%;
}

#casella {    
    text-align:right;
}

.singleRow {
    height:15%;
}

.doubleRow {
    height:30%;
}

.halfHeight {
    height:50%;
}

.quarterHeight {
    height:25%;
}

